/* Set the font family for the entire page to 'Open Sans' */
body {
  font-family: 'Open Sans', sans-serif;
}

/* Ensure images fill their parent container vertically */
img {
  height: 100%;
}

img.logo {
  height: 250px;
  width: 150px;
  object-fit: contain;
}

/* Style the navigation bar, making it a flex container with space-between alignment */
.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
}

/* Style the navigation menu within the navigation bar */
.nav-menu {
  display: flex;
  justify-content: space-between;
}

/* Style the menu links within the navigation menu */
.menu-links {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

/* Style the anchor tags within the menu links */
.menu-links a {
  text-decoration: none;
  color: #545454;
  padding: 0 10px;
}

a:hover {
  text-decoration: underline;
  transform: scale(1.2);
}

/* Style a button with a rectangular appearance */
.rectangle-button {
  border: 1px solid #4C84C3;
  border-radius: 10px;
  padding: 7px 33px;
  text-decoration: none;
}

/* Style a two-column container with specific height and alignment properties */
.two-column-container {
  height: 620px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

/* Style a container for text content with a maximum width */
.text-container {
  max-width: 585px;
}

/* Style an image container with a specific height */
.image-container {
  height: 420px;
}

/* Style another image container with a specific height */
.image-container2 {
  height: 397px;
}

/* Style a container for the second column content with specific height and alignment properties */
.second-column-container {
  height: 620px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

/* Style a container for the third column content with specific height and alignment properties */
.third-column-container {
  height: 596px;
  display: flex;
  align-items: center;
  justify-content: space-around;

}

/* Style an image container with specific width and height */
.image-container3 {
  width: 596px;
  height: 371px;
}

/* Style a blue button with specific dimensions, colors, and border properties */
.blue-button {
  width: 184px;
  height: 40px;
  color: #ffffff;
  background-color: #0193dc;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

/* Style the footer with background color, text color, and text alignment */
footer {
  background-color: #007bff;
  color: #fff;
  text-align: center;
  padding: 20px 0;
}

/* Style the container for footer content, arranging it with space-around alignment */
.footer-container {
  display: flex;
  justify-content: space-around;
}

/* Style individual sections within the footer with margin and text alignment */
.footer-section {
  margin: 0 20px;
  text-align: left;
}

/* Style the heading within footer sections with a specific font size */
.footer-section h3 {
  font-size: 18px;
}

/* Style the unordered list within footer sections with no list-style and padding */
.footer-section ul {
  list-style: none;
  padding: 0;
}

/* Style list items within footer sections with margin */
.footer-section ul li {
  margin: 8px 0;
}

/* Style anchor tags within footer sections, with color transition on hover */
.footer-section a {
  text-decoration: none;
  color: #fff;
  display: block;
  transition: color 0.3s;
}

/* Change link color to yellow on hover */
.footer-section a:hover {
  color: #ffdb58;
  /* Yellow color on hover */
}

.fill-image {
  height: 600px;
  width: 100vw;

}

.fill-image img {
  width: 100%;
  object-fit: cover;
}

/*******************************/
/*        ABOUT PAGE           */
/*******************************/

.about-content {

  margin: 3%;
}

.about-content h2 {
  font-size: 69px;
  margin-bottom: 10px;
}

.text-container.about-content {
  margin: 20px 10% 0;
  max-width: 800px;
  text-align: left;
}

.about-text-container {
  max-width: 585px;
  font-family: sans-serif;
  font-size: 18px;
}

.about-column-container {
  height: 596px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.underline {
  text-decoration-line: underline;
  text-align: center;
}



/* LOGIN \
button {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

/* Center the login form */
body,
h2,
label,
input {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Center the login form */
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 600px;
  background-color: #f4f4f4;
  /* Light background color */
}

/* White box around the login form */
.login-container .form-container {
  background-color: #ffffff;
  /* White background color */
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}

/* Style the login form */
.login-container form {
  text-align: center;
  width: 300px;
}

.login-container h2 {
  margin-bottom: 20px;
  color: #ff0000;
  text-align: center;
}

.login-container label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
  color: #555;
  text-align: center
}

.login-container input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.login-container button {
  background-color: #007bff;
  color: #ffffff;
  border: none;
  padding: 12px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin: 15px 35%;
}

.login-container button:hover {
  background-color: #0056b3;
}